app-header {
    display: flex;
    margin-top: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    height: 8em;
    align-items: center;
    justify-content: center;
    a {
        font-weight: 700;
    }
}

p {
    padding: 10px;
    margin: 0px;
}

main {
    flex-grow: 1;
}
