<div class="form-container">
    <h1>What media type you want to watch?</h1>
    <p>Select your preferred media types or just click next if you like all media type:</p>

    <form [formGroup]="formGroup" class="">
        <div class="checkbox">
            <p-checkbox formControlName="movie" value=true inputId="movie"></p-checkbox>
            <label for="movie">Movie</label>
        </div>
        <div class="checkbox">
            <p-checkbox formControlName="tv" value=true inputId="tv"></p-checkbox>
            <label for="tv">TV series</label>
        </div>
        <div class="checkbox">
            <p-checkbox formControlName="ova" value=true inputId="ova"></p-checkbox>
            <label for="ova">OVA</label>
        </div>
        <div class="checkbox">
            <p-checkbox formControlName="ona" value=true inputId="ona"></p-checkbox>
            <label for="ona">ONA</label>
        </div>
        <div class="checkbox">
            <p-checkbox formControlName="special" value=true inputId="special"></p-checkbox>
            <label for="special">Special</label>
        </div>
        <div class="checkbox">
            <p-checkbox formControlName="music" value=true inputId="music"></p-checkbox>
            <label for="music">Music</label>
        </div>
    </form>

    <div class="buttons">
        <button (click)="onBack()" pButton pRipple class=" p-button-outlined" label="Back"></button>
        <button (click)="onSaveAndNext()" pButton pRipple class=" p-button-raised" label="Next"></button>
    </div>
</div>