:host {
    margin-top: auto;
    display: flex;
    gap: 3em;
}

.image {
    width: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2em;
    justify-content: center;
    margin-left: 2rem;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 0px;
}

p {
    font-size: large;
}

button {
    width: 15rem;
    margin-bottom: 1em;
}