<div class="form-container">
    <h1>What Genres do you like?</h1>
    <p>neke?</p>

    <form [formGroup]="formGroup" class="">
        <p-multiSelect [options]="genres" formControlName="selectedGenres" optionLabel="name" defaultLabel="Select genres" display="chip"></p-multiSelect>
    </form>

    <div class="buttons">
        <button (click)="onBack()" pButton pRipple class=" p-button-outlined" label="Back"></button>
        <button (click)="onSaveAndNext()" pButton pRipple class=" p-button-raised" label="Next" [disabled]="isNextDisabled()"></button>
    </div>
</div>
