.form-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    height: 100%;
    padding: 1em;
    align-items: center;

    h1 {
        margin-top: 2rem;
        margin-bottom: 0;
    }

    p {
        margin: 0;
        margin-bottom: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        column-gap: 6rem;
        flex-wrap: wrap;
        flex-grow: 1;
        width: 50%;
        align-items: center;

        p-multiselect {
            width: 100%;
        }
    }
}
::ng-deep .p-ink {
    display: none;
  }

.buttons {
    display: flex;
    gap: 4rem;
    margin-top: 2rem;
    justify-content: center;

    button {
        width: 20rem;
    }
}

@media screen and (max-width: 800px) {
    form {
        width: 100%!important;
    }
    .buttons {
        gap: 2rem;
        button {
            width: 8rem;
        }
    }
}

::ng-deep .p-multiselect-items-wrapper {
    max-height: 250px!important;
}