:host {
    margin-top: auto;
    display: flex;
    gap: 3em;
}

img {
    width: 50%;
    border-radius: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2em;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

p {
    font-size: large;
    text-align: center;
}

button {
    width: 15rem;
    align-self: center;
}