.example-spacer {
    flex: 1 1 auto;
}

button {
  cursor: pointer;

  &[disabled] {
    cursor: default;
  }
}

#logo {
  display: flex;
  align-items: center;
  padding: 0.25rem;

  img {
    width: 2.5rem;
    display: block;
  }
}

.nav {
  margin: 0px 10px 0px 10px;
}

.small-icon{
  padding: 0px;
  width: 2rem;
  height: 2rem!important;
  align-self: center;
}

.pi-bars {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav {
    display: none;
  }
  .p-button-sm {
    display: block;
  }
}