@import "primeicons/primeicons.css";


html,
body {
  height: 100%;
  scroll-behavior: smooth;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
}

button {
  cursor: pointer;
  font-weight: 700 !important;
}

.card {
  background: var(--surface-card);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.without-underline {
  text-decoration: none !important;
}

app-root {
  display: flex;
  flex-direction: column;
  margin: 0 15%;
  min-height: 100vh;
}

@media screen and (max-width: 1400px) {
  app-root {
    margin: 0 12%;
  }
}

@media screen and (max-width: 1200px) {
  app-root {
    margin: 0 6%;
  }
}

@media screen and (max-width: 1000px) {
  app-root {
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  app-root {
    margin: 3%;

    .image {
      display: none;
    }

    .content {
      width: 100% !important;
      margin-left: 0rem !important;

      button {
        width: 100%;
      }
    }

    main {
      width: 100%;

      app-not-found {
        width: 100%;
        margin: auto;
      }

      app-main {
        width: 100%;
        margin: auto;
      }
    }

    img {
      display: none;
    }

    h1 {
      text-align: center;
    }

    p-steps {
      display: none;
    }
  }

  @media screen and (max-width: 400px) {
    app-root {
      margin: 0%;
    }
  }
}