::ng-deep .p-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    grid-gap: 2rem; 

    .anime-card {

        .anime-image {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: calc(318 / 225 * 100%); 
            overflow: hidden;
            box-shadow: var(--box-shadow);
            border-radius: 1rem;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);

            &:hover {
                box-shadow: var(--box-shadow-hover);
                cursor: pointer;
            }

            img.anime-img {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .status-banner {
                position: absolute;
                z-index: 1;
                bottom: 1.5rem;
                right: -3rem;
                background-color: var(--primary-color);
                color: var(--primary-color-text);
                padding: 0.25rem 3rem;
                font-size: 0.8rem;
                transform: rotate(318deg);
                box-shadow: var(--box-shadow);
            }
        }

        .anime-title {
            text-align: center;
            margin-top: 0.5rem;
            font-weight: bold;
            font-size: large;
        }

    }
}

::ng-deep app-anime-list {
    display: grid;
}
p-progressSpinner {
    justify-self: center;
}

::ng-deep p-paginator {
    margin: 0.5rem;
}

::ng-deep .p-ink {
    display: none;
}

@media screen and (max-width: 800px) {
    ::ng-deep .p-grid {
        grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
        grid-gap: 1rem;
        img {
            display: block;
        }
    }
}

::ng-deep .p-dialog-content {
    display: grid;
    grid-template-areas:
        "duration-media mean" 
        "date-studios date-studios"
        "image synopsis"
        "genre genre";
    font-size: clamp(0.8rem, 2vw, 1rem);
    grid-template-columns: 1fr 2fr;
    gap: 1rem;

    .mean{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .pi{
            font-size: 1.3rem;
            margin-right: 0.5rem;
            color: gold;
        }

        .score{
            font-size: 1.3rem;
            font-weight: bold;
        }
    }

    .studio-date{
        grid-area: date-studios;
        font-weight: bold;
    }

    .media-duration{
        grid-area: duration-media;
        font-weight: bold;
        align-self: end;
    }

    img {
        width: 100%;
        display: inline;
        grid-area: image;
        max-width: 20rem;
        border-radius: 0.5rem;
    }

    .synopsis {
        grid-area: synopsis;
    }

    .genres {
        grid-area: genre;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        max-width: 100%;
        align-items: center;
        & > * {
            margin: 0.5rem; 
            white-space: nowrap;
          }
    }

    @media screen and (max-width: 600px) {
        grid-template-areas: 
            "duration-media mean" 
            "date-studios date-studios"
            "synopsis synopsis"
            "genre genre";
        grid-template-columns: 1fr 1fr;
        img {
            display: none;
        }
    }
}

.header-dialog {

    .title {
        font-size: 1.5rem;
        font-weight: bold;
        vertical-align: bottom;
        color: var(--text-color);
    }

    .rating-img {
        height: 1.3rem;
        margin-left: 0.5rem;
        display: inline-block!important;
    }
}

.footer-dialog {
    display: flex;
    justify-content: space-between;
}