::ng-deep .p-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    grid-gap: 2rem; 

    .anime-card {

        .anime-image {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: calc(318 / 225 * 100%); 
            overflow: hidden;
            box-shadow: var(--box-shadow);
            border-radius: 1rem;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);

            &:hover {
                box-shadow: var(--box-shadow-hover);
                cursor: pointer;
            }

            img.anime-img {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        .anime-title {
            text-align: center;
            margin-top: 0.5rem;
            font-weight: bold;
            font-size: large;
        }

    }
}

::ng-deep app-anime-list {
    display: grid;
}
p-progressSpinner {
    justify-self: center;
}

::ng-deep p-paginator {
    margin: 0.5rem;
}

::ng-deep .p-ink {
    display: none;
}

@media screen and (max-width: 800px) {
    ::ng-deep .p-grid {
        grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
        grid-gap: 1rem;
        img {
            display: block;
        }
    }
}

::ng-deep .p-dialog-content {
    display: grid;
    grid-template-areas:
        "date media mean" 
        "duration studios rating"
        "image synopsis synopsis"
        "genre genre genre"
        "status links links";
    font-size: clamp(0.8rem, 2vw, 1rem);

    img {
        width: 100%;
        display: inline;
        grid-area: image;

    }

    .synopsis {
        grid-area: synopsis;
    }

    @media screen and (max-width: 600px) {
        grid-template-areas: 
        "date media mean" 
        "duration studios rating"
        "synopsis synopsis synopsis"
        "genre genre genre"
        "status links links";
            grid-template-columns: auto;
        img {
            display: none;
        }
    }
}